<footer class="bg-black ph3 pv1 bg-top cover overlay white" style="background-image: url('/img/logo.svg'); background-position-y: 2em">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<p class="f3 lh-title light-gray b tc mb2">Подпишитесь на обновления</p>
			<p>Не пропустите благотворительные акции и концерты!</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Фонд</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Главная страница</a></li>
					<li><a href="/fundraising" class="link">Сбор пожертвований</a></li>
					<li><a href="/requisites" class="link">Реквизиты</a></li>
					<li><a href="/documents" class="link">Учредительные документы</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Пульс</h3>
				<ul class="mb3">
					<li><a href="/post" class="link">Новости</a></li>
					<li><a href="/gallery" class="link">Галерея</a></li>
				</ul>
			</div>

			<div id="contacts">
				<h3 class="f4 b lh-title mb1 primary">Контакты</h3>
				<ul class="mb3">
					<li><a href="tel:+79247651612" class="link">📞 +7&nbsp;(924)&nbsp;765-16-12</a></li>
					<li>Мы в соцсетях:</li>
					<ul class="mhn2">
						{{ partial "social-icon" (dict "link" "https://www.instagram.com/kladez_yakutii/" "svg" "icons-instagram") }}
						{{ partial "social-icon" (dict "link" "https://vk.com/bf_kladezyakutii" "svg" "icons-vk") }}
						{{ partial "social-icon" (dict "link" "https://ok.ru/group53557274017911" "svg" "icons-ok") }}
					</ul>
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
